<!DOCTYPE html>

<!--
  * Version 1: Basic features 
-->

<html>
  <head> 
    <title>Just write</title> 
    <link rel="stylesheet" href="../styles/style.css"> 
    <!-- Scripts --> 
    <!-- TODO: Use a JS Bundler -->
    <script src="../components/helper.js"></script> 
    <script src="../components/script.js"></script>
  </head>
  <body>
    <h1>Just Write!</h1>
    <div id="display-date"></div> 
    <div> 
      <h2 id="topic"></h2>
      <div id="writing-specs"></div>
      <button id="start"></button>
      <div id="timer"></div>
      <div id="show-word-count"></div>
      <textarea id="text-editor" rows="5" cols="80"></textarea>
    </div>
    <br> 
    <div> 
      <button id="mark-complete"></button>
      <button id="download"></button>
      <input id="open" type="file"></button>
    </div>
  </body>
</html>