<!DOCTYPE html>

<!--
  * Version 1: Basic features 
-->

<html>
  <head> 
    <title>Just write</title> 
    <link rel="stylesheet" href="../styles/style.css"> 
    <!-- Scripts --> 
    <!-- TODO: Use a JS Bundler -->
    <script src="../components/helper.js"></script> 
    <script src="../components/script.js"></script>
  </head>
  <body>
    <h1>Just Write!</h1>
    <div>DD/MM/YY</div> 
    <h2 id="topic"></h2>
    <div id="show-word-count">Word count: </div>
    <textarea id="text-editor" rows="5" cols="50"></textarea>
    <br> 
    <button id="download">Download</button>
    <input id="open" type="file"></button>
  </body>
</html>